@font-face {
	font-family: "calligraffitti";
	src: url("../fonts/Calligraffitti/Calligraffitti-Regular.ttf");
}
@font-face {
	font-family: "cabin";
	src: url("../fonts/Cabin/Cabin-Regular.ttf");
}
body
{
	background-color: white;
}
h1,h2,h3,h4,h5
{
	font-family: "calligraffitti", sans-serif;
}
h1
{
	font-weight: bold;
	font-size: 48pt;
	padding-top: 20px;
	padding-bottom: 20px;
}
h2
{
	font-size: 24pt;
}
p
{
	font-family: "cabin", sans-serif;
	font-size: 16pt;
	padding-left: 20px;
	margin: 0px;
}
a.thumbnail
{
	margin-bottom: 0px;
}
div
{
	padding-top: 10px;
	padding-bottom: 10px;
}
header
{
	text-align: center;
}
section.entry div.image:not(.image-single)
{
	margin-left: 0px;
	margin-right: 0px;
}
section.entry div.image div
{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
section.entry div.image div img
{
	width: 100%;
}
section.intro div img
{
	width: 100%;
}
p#footer
{
	display: block;
	text-align: center;
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
}