@font-face {
	font-family: "calligraffitti";
	src: url("../fonts/Calligraffitti/Calligraffitti-Regular.ttf");
}
@font-face {
	font-family: "cabin";
	src: url("../fonts/Cabin/Cabin-Regular.ttf");
}
body
{
	background-color: white;
}
h1,h2,h3,h4,h5
{
	font-family: "calligraffitti", sans-serif;
}
h1
{
	font-weight: bold;
	font-size: 48pt;
	padding-top: 20px;
	padding-bottom: 20px;
}
h2
{
	font-size: 24pt;
}
p
{
	font-family: "cabin", sans-serif;
	font-size: 16pt;
	padding-left: 15px;
	margin: 0px;
}
a.thumbnail
{
	margin-bottom: 0px;
}
a#home-button
{
	font-weight: bold;
}
a.navbar-brand
{
	font-weight: bold;
}
div.row:not(.image)
{
	padding-top: 10px;
	padding-bottom: 10px;
}
header
{
	text-align: center;
}

section.entry div.container-fluid div.image div
{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
div img
{
	width: 100%;
}
p#footer
{
	display: block;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
}
ul.my-pager
{
	margin-top: 10px;
	margin-bottom: 0px;
}
div.date-header
{
	position: fixed;
	top: 50px;
	width: 100%;
}
div.date-header h2
{
	text-align: center;
}
nav.date-header
{
	width: 100%;
}



div.v-space-005px
{
	margin: 0px;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	padding-left: 0px;
	padding-right: 0px;
}
div.v-space-010px
{
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
}
div.v-space-015px
{
	margin: 0px;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	padding-left: 0px;
	padding-right: 0px;
}
div.v-space-020px
{
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
}
div.v-space-025px
{
	margin: 0px;
	padding-top: 12.5px;
	padding-bottom: 12.5px;
	padding-left: 0px;
	padding-right: 0px;
}
div.v-space-050px
{
	margin: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 0px;
	padding-right: 0px;
}
div.v-space-100px
{
	margin: 0px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 0px;
	padding-right: 0px;
}